@import url('https://fonts.googleapis.com/earlyaccess/cwtexyen.css');
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Yusei+Magic&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darumadrop One', 'cwTeXYen';
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4f4f4;
}

.header {
    min-height: 100vh;
    width: 100%;
    z-index: 1;
    position: relative;
}

/* 導航欄基本樣式 */
nav {
    display: flex;
    padding: 0.5% 4%;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav img {
    width: 100px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.nav-links ul li {
    padding: 10px 30px;
    position: relative;
}

.nav-links ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.nav-links ul li i {
    margin-right: 8px;
}

.nav-links ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* 隱藏漢堡選單和關閉按鈕 */
nav .fa-bars,
.nav-links .fa-xmark {
    display: none;
}

/* 響應式設計 */
@media(max-width: 700px) {
    .nav-links ul {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #333;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 999;
        transition: 0.5s;
    }

    .nav-links ul li {
        display: block;
        margin: 25px;
    }

    .nav-links ul li a {
        color: #fff;
    }

    /* 顯示漢堡選單和關閉按鈕 */
    nav .fa-bars {
        display: block;
        color: #333;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links .fa-xmark {
        display: block;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

div ul .fa-solid {
    display: inline;
}


.fa-bars,
.fa-circle-xmark {
    display: none;
}

/*-------contact-------*/


.contact h2 {
    font-size: 3rem;
    color: #f7c015;
    text-align: center;
    margin: 2.5rem 1rem;
}

.contact form {
    width: 600px;
    text-align: center;
    margin: auto;
}

form .input-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.input-box .input-field {
    width: 48.5%;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #f7c015;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: rgb(38, 39, 38);
    margin: 10px;
}

.field.error .item {
    border-color: rgb(248, 54, 54);
}

.field .item::placeholder {
    color: rgba(125, 122, 122, 0.3);
}

.field .error-txt {
    font-size: 14.5px;
    color: rgb(224, 45, 45);
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt {
    display: block;
}

form .textarea-field .item {
    resize: none;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}

form button {
    padding: 12px 32px;
    background: #f7d05c;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 300;
    cursor: pointer;
    margin: 20px 40px;
}

form button:hover {
    background: #ff9333;
    transition: 0.5s;
}

@media(max-width:700px) {
    .contact form {
        width: 300px;
        text-align: center;
        margin: auto;
    }

    form .input-box {
        display: block;
    }

    .input-box .input-field {
        width: 100%;
    }

}